@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab);

body {
    background-image: url(img/fondo-degradado.png);
    background-size: cover;
    margin: 0; /* El navegador por defecto tiene un margen, asi que hay que darle 0 */
    text-align: center;
}

/* ----------------- CARD -----------------*/


.list { 
    /* Nombre  */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  color: #3e3e3e; 
}
.number {
    /* Numero en la pokedex */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #b5b5b5;
    text-align: center;
}
.image {
    width: 100px;
    height:100px;
}
.blog-card {
    background: rgb(253, 253, 251);
    box-shadow: 0 0.1875rem 1.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.375rem;
    display: inline-table; /*hace que nuestras etiquetas sea una al costado de otra */
    float: left; /* Especifica como debe flotar un elemento*/
    word-wrap: break-word; /*Hace que el texto no se salga del cuadro */
    line-height: 10px; 
    width: 180px;
    padding: 20px;
    height: 150px;
    margin: 1.5%;
    text-align: center;
}

/* HEADER BARRA RESPONSIVE Y BOTONES INTERACTIVOS */

header {
    width: 100%;
    background: rgb(43, 43, 43);
}

.menu {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.menu-bar {
    display: none; /* ocultando el checkbox */
}

header label {
    display: none; /* ocultando el icono de responsive*/
    width: 50px;
    height: 40px;
    padding: 2px;
    color: white;
    border-right: 1px solid rgb(151, 151, 151);
    font-size: 30px;
    margin: 0 6px;

}

header label:hover {
    cursor: pointer;
    background: rgba(151, 151, 151, 0.5); /* el ultimo numero es la transparencia*/
}

.menu ul {
    margin: 0;
    list-style: none; /* Quitando los puntos de lista*/
    padding: 0; /* Quitar el relleno que tiene de lista al lado izq*/
    display: flex; /* Flexbox hace que los li que esten dentro los coloque en una fila */ 
    justify-content: flex-end;
    margin-top: 0;
}

.menu li {
    flex-grow: 1; /* Cada boton li, esta del mismo tamaño*/
    text-align: center;
    border: 1px solid rgba(151, 151, 151, 0.1);;
}

.menu li:hover {
    cursor: pointer;
    background: rgba(151, 151, 151, 0.8); /* el ultimo numero es la transparencia*/
}
.menu ul a {
    display:  block;
    padding:  15px 40px; /* Arriba y a los costados respectivamente*/
    color: white;
    text-decoration: none; /* Quitando la parte subrayadas*/
}

/* ----------------- BANNER -----------------*/

.banner {
    margin: 0px 25px 0 50px;
    height: 400px;
    overflow: hidden;
}

video {
    width: 80%;
    margin-top: 0;
}

main .banner {
    margin-top: 0px;/* este al tope*/
    position: relative;
    z-index: -1000; /* para que este atras*/
}
.container-banner {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    position: absolute;
    top: 50%; /*Para centrar*/
    left: 50%; /*Para centrar*/
    transform: translateX(-50%) translateY(-50%); /* centrar y transladar encima del video*/
    width: 33%;
    color: white;
}

/* ----------------- INTRODUCCION -----------------*/
.info-filter {
    margin: 20px;
    justify-content: center;
    display: inline-block;
}

#introduccion .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-filter img {
    width: 100%;
    max-width: 50px;
    position: center;
}
#news h3, h4 {
    text-align: center;
}
#news {
    justify-content: center;
}
#news .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#news article {
    margin: 10px;
}
#news img {
    width: 100%;
    max-width: 450px;
    position: center;
}

/* ----------------- NOTICIAS -----------------*/
.title-news {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: initial;
    text-align: left;
    font-size: 30px;
    margin: 15px;
}
.news-poke {
    position: relative;
    margin-bottom: 30px;
}
.news-descriptions {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: initial;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    width: 40%;
    height: 96%;
    padding: 5px;

}
/* -----------------FOOTER----------------*/
.footer {
    background: #1C1C1C;
    color: white;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}

.footer [class^="icon-"] {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 19px;
    padding: 7px;
    width: 11px;
    height: 60x;
    line-height: 20px;
  }


/* -----------------SELECT DISEÑO-----------------*/
.select-general select{
    border: 0;
    color: #747474;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 378px;
    -webkit-appearance: none;
 }
 
 .select-general {
    margin: 30px 90px;
    color: #747474;
    border: 3px solid #747474;
    text-align: center;
    overflow: hidden;
    width: 350px;
    overflow:hidden;
    border-radius: 12px;
    background: white url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}

.screen-type, .screen-weak, .screen-egg, .screen-sort {
  background:  rgba(255, 255, 255, 0.6);
  overflow: hidden;
  border-radius: 30px;
  margin: 30px 200px;
  color: #1C1C1C;
  text-align: center;
}
/* -----------------RESPONSIVE-----------------*/


@media (max-width: 768px) { /* Responsive de 768px*/
    header label {
        display: block;
    }

    .menu {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        position: absolute;
        background: #1C1C1C;
        width: 70%;
        margin-left: -90%; /*Para que desaparezca la lista . se va a la  izq */
        transition:  all 0.4s;
    }

    .menu ul {
        flex-direction: column; /* Deja de ser fila para volverse columna*/
    }

    .menu li {
        border-top:  1px solid  rgba(151, 151, 151, 0.4);;
    }

    .menu-bar:checked ~ .menu { /* llamando al imput */
        margin: 0; /* activando y desactivando el checkbox */
    }
}

/* ----------------- CSS OCULTAR O MOSTRAR VENTANAS-----------------*/

.screen-weak {
    display:none;
}

.screen-type {
    display:none;
}
.screen-egg {
    display:none;
}
.screen-sort {
    display:none;
}
.screen-pokedex{
    display:none;
}
.screen-news{
    display:none;
}
.pokemon{
    display:none;
}
