@import url(https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto|Staatliches|Thasadith);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
    background-size: auto;
    background-image: url(https://i.imgur.com/Bt0sdpD.jpg?1) ;
    background-repeat: repeat;
    background-attachment: fixed;
}

header{
    width: 100%;
    height: 60px;
    background: #333;
    color: #fff;
    /* poner el header pegado en la pagina */
    position: fixed;
    top: 0;
    left: 0;
    /*para que sea el header que este delante de todo */
    z-index: 100;
}

.container {
    width: 98%;
    margin:auto;
}

h1 {
    /* Para que flote */
    float:left;
    margin: 12px;
}

header .container{
    display: table;
}

.icon-pokedex {
    font-size: 25px;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#introduccion {
 text-align: center;
}

/* Creacion de pie de página , redes sociales  y copyright */

footer .container {
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5px;
}
.copyright {
    font-size: 15px;
    margin: 15px;
    color: white;
}
.redes-sociales {
    width: 100%;
    margin: 5px;
    text-align: center;
    font-size: 28px;
    
}
.redes-sociales a {
    text-decoration: none;
    color: white;
}
/* Hacerlo responsive para web */
@media (min-width:1024px){
    .container {
        width: 1000px;
    }
}
/* ----------------------------MENU-------------------------- */
#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 30px;
    margin: 10px 0;
    cursor: pointer;
}

.menu {
    list-style: none;
    /* Creando el menu desplegable */
    position: absolute;
    /* top de 60px para que comience desde abajo */
    top: 60px;
    left:0;    
    width: 100%;
    height: 100vh;
    background: #333;
    /* Ocultamos el menu para luego mostrarlo */
    transition: all 0.4s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color:#fff;
    height: 50px;
    text-decoration: none;
    padding: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }

/* Al pasar el mouse cambia de color */
.menu a:hover {
    background: rgba(255, 255, 255, 0.3);
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}
/* Hacerlo responsive para web */
@media(min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translate(0%);
        float:right;
        display: flex;
    }

    .menu a {
        border: none;
    }
    header label {
        display: none;
    }
}

/* ----------------------------BANNER-------------------------- */

#banner-001 img {
    width:  100%;
    height: 100%;
}

/* Aqui haremos que el texto funcione a base de banner-001 */
#banner-001 .container {
    position: absolute;
    /* Para que el texto se pinte en el banner */
    top: 30%;
    left: 50%;
    transform: translate(-40%) translateY(-50%);
    color: #fff;
}

#banner-001 h2 {
    font-size: 20px;
}

#banner-001 a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-top: 10px;
    border: 3px solid white; 
    background: rgba(255, 255, 255, 0.6);
    border-radius: 70px;
    width: 70%;
    height: 60px;
}

#banner-001 a:hover {
    background: rgba(50, 50, 50, 0.5);
}

@media (min-width:480px){
    #banner-001 h2 {
        font-size: 30px;
    }
    #banner-001 a {
        margin-top: 25px;
    }
}

@media (min-width:768px){
    #banner-001 {
        height: 400px;
        overflow: hidden;

    }
    #banner img {
        height: auto;
        margin-top: -100px;
    }
}

@media (min-width:1024px){
 
    #banner img {
        height: auto;
        margin-top: -200px;
    }
}

/* ----------------------------INTRODUCCION FILTRADO-------------------------- */

.info-filtrado {
    margin: 20px;
    justify-content: center;
    display: inline-block;
}

#introduccion .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-filtrado img {
    width: 100%;
    max-width: 50px;
    position: center;
}
/* ----------------------------NOTICIAS-------------------------- */

#noticias h3, h4 {
    text-align: center;
}

#noticias {
    justify-content: center;
}

#noticias .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#noticias article {
    margin: 10px;
}

#noticias img {
    width: 100%;
    max-width: 280px;
    position: center;
}

/* ----------------------------------------------------------------------------------- */


.list { 
    /* Nombre  */
  color: #3e3e3e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}
.numero {
    /* Numero en la pokedex */
    color: #b5b5b5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
}
.imagen {
    width: 100px;
    height:100px;
}

.blog-card {
    background: #fff;
    box-shadow: 0 0.1875rem 1.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.375rem;
    display: inline-table; /*hace que nuestras etiquetas sea una al costado de otra */
    border: none;
    float: left; /* Especifica como debe flotar un elemento*/
    word-wrap: break-word; /*Hace que el texto no se salga del cuadro */
    line-height: 10px; 
    width: 150px;
    padding: 20px;
    height: 150px;
    margin: 2%;
    flex-direction:row; /* hace que los los elementos flexibles vayan para una direccion*/
}
  
.blog-card :hover {
    transition: opacity 0.3s ease;
    opacity: 0.9;
}

.lista{
    text-align: center;
    width: 100px;
    border: none;
    font-size: 12px;
    list-style: none;
    line-height: 30px;
    margin: 40px;
}

.general {
    display: flex;
    justify-content: center;
    
}